<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Meta - Start -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Digital Menu | Καλως ήρθατε στην ψηφιακή παραγγελία!</title>
    <!-- Meta -  End  -->

    <!-- Links - Start -->
    <link rel="icon" href="https://i.dlpng.com/static/png/4538460-serve-food-icon-of-colored-outline-style-available-in-svg-png-serve-food-png-256_256_preview.webp">
    {% include 'inc/bootstrap_css.html' %}
    <!-- Links -  End  -->
  </head>
  <body>
    <div class="wrapper bg-white">
      <!-- NavBar - Start -->
      {% include 'inc/navbar.html' %}
      <!-- NavBar -  End  -->

      <!-- Main Content - Start -->
      <main role="main" class="container p-4" style="margin-bottom: 100px">
        <!-- Alerts - Start -->
        {% include 'inc/alerts.html' %}
        <!--Alerts -  End  -->

        {% block content %}
        Put content here!
        {% endblock %}
      </main>
      <!-- Main Content -  End  -->

      <!-- Footer - Start -->
      {% include 'inc/footer.html' %}
      <!-- Footer -  End  -->

      <!-- Optional JavaScript - Start -->
      {% include 'inc/bootstrap_js.html' %}
      <!-- Optional JavaScript -  End  -->
    </div>
  </body>
</html>
