{% extends 'base.html' %}

{% block content %}
<h1>{{shop.name}}</h1>
<a class="btn btn-primary" href="{% url 'shops:edit_shop' shop.slug %}">Επεξεργασία</a>
<a class="btn btn-info" href="{% url 'menus:create_menu' shop.slug %}">Δημιουργία Μενού</a>

<hr>
<h3>Menus</h3>
{% if menus %}
<ul class="list-unstyled">
  {% for menu in menus %}
  <li class="list-item"><a href="{% url 'menus:view_menu' shop.slug menu.name %}">{{menu.name}}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>There are no menus!</p>
{% endif %}

<hr>
<h3>Categories</h3>
{% if categories %}
<ul class="list-unstyled">
  {% for cat in categories %}
  <li class="list-item"><a href="">{{cat.name}}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>There are no cats!</p>
{% endif %}

<hr>
<h3>Items</h3>
{% if items %}
<ul class="list-unstyled">
  {% for item in items %}
  <li class="list-item"><a href="">{{item.name}}</a></li>
  <li class="list-item"><a href="">{{item.menu_category.name}}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>There are no cats!</p>
{% endif %}

<hr>
<h3>Info</h3>
<ul class="list-unstyled">
  <li class="list-item">{{shop.category}}</li>
  <li class="list-item">{{shop.location}}</li>
  <li class="list-item">{{shop.address_1}}</li>
  <li class="list-item">{{shop.post_code}}</li>
</ul>

{% endblock %}
